*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #000000;
  color: #A7A7A7;
}
img {
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  padding: 1.2rem 4rem;
  margin: 0 auto;  
}
/* page-one styles start */
.page-one-section{
  font-family: "DM Sans", sans-serif;
  background-color: rgba(245, 245, 242, 1);
}
.logo{
  width: 7%; 
}
.page-one-content{
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 5rem;
  justify-content: center;
  place-items: center;
}
.left-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.delivery-logo{
  width: 20%; 
}  
.left-section h3{
  width: 96%;
 font-size: 35px;
 font-weight: 500;
 line-height: 42px;
 text-align: center;
 color: rgba(0, 0, 0, 1);
}
.left-section h5{
font-size: 14px;
font-weight: 300;
line-height: 18px; 
color: rgba(0, 0, 0, 1);
text-align: center;
width: 455px; 
opacity: 40%;
}
.btn{
  cursor: pointer;
  width: 20%; 
  border-radius: 10px;
  background-color: rgba(5, 53, 130, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;  
  padding: 8px ;
}
.right-section{
  padding: 45px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px -5px 40px 0px rgba(205, 205, 212, 0.1);
}
.title h3{
  margin-top: 1rem;
  font-size: 28px;
  font-weight: 700; 
  color: rgba(57, 57, 57, 1);
} 
.title h5{ 
  margin-top: .5rem;
font-size: 12px;
font-weight: 400;
color: rgba(64, 64, 64, 1);
}
.key-info{
  display: flex;
  flex-direction: row;
  gap: .8rem;
  margin-top: 1rem;
}
.input-section{
  width: 200px;
height: 45px;
border-radius: 10px;
border-bottom: 1px solid rgba(5, 53, 130, 1);
border-left: 1px solid rgba(5, 53, 130, 1);
border-right: 1px solid rgba(5, 53, 130, 1);
} 
.name-section input{
  width: 200px;
  height: 48px;
  padding: 10px;
  border-radius: 10px;
  color: rgba(226, 226, 234, 1); 
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.003em; 
  border: 1px solid rgba(226, 226, 234, 1);
} 
.input-container{
  position: relative;
} 
.input-container input{
  margin-top: 1rem;
  width: 416px;
  height: 48px;
  border-radius: 10px;
  color: rgba(181, 181, 190, 1);
  padding: 10px;
  border: 1px solid rgba(226, 226, 234, 1);
}
h6{ 
  margin-top: .5rem;
  width: 416px;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.003em; 
color: rgba(37, 37, 37, 1);

}
span{
  cursor: pointer;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.003em; 
 color: rgb(8, 8, 237);
}
.regristration{  
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
h3{ 
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.003em;
}
.register-btn{
  width: 25%;
  border-radius: 10px;
  background-color: rgba(5, 53, 130, 1);
  color: rgba(255, 255, 255, 1);
  padding: .5rem;
  cursor: pointer;
}
/* page-one styles end */
/* sign-in-page styles start */
.sign-in-page-section{
  padding: 5rem;
  font-family: "DM Sans", sans-serif;
  background-color: rgba(245, 245, 242, 1);
}
.sign-in-page-content{
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 5rem;
  justify-content: center;
  place-items: center;
}
.right-sign-in-page{ 
  padding: 48px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px -5px 40px 0px rgba(205, 205, 212, 0.1);
}
.sign-in-page-title h3{ 
  font-size: 28px;
  font-weight: 700; 
  color: rgba(57, 57, 57, 1);
}
.sign-in-page-title h6{
  margin-top: 1rem;
  color: rgba(64, 64, 64, 1); 
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.003em; 
}
.right-sign-in-page input{
  margin-top: 1.5rem;
  width: 416px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid rgba(226, 226, 234, 1)
}
.password-container{
  position: relative;
}
  .fa-regular {
  position: absolute;
  top: 40px;
  right: 20px;
  cursor: pointer;
  color: rgba(146, 146, 157, 1);

} 
.forgot-password, a{  
  margin-top: 2rem;
  text-align: right;
  color: rgba(8, 8, 237);
  cursor: pointer;
}
h4{ 
  color: rgba(105, 105, 116, 1);
  font-size: 14px;
  font-weight: 400; 
}
/* sign-in page styles end */
/* dashboard styles start */
.dashboard-section{
   background-color: rgba(255, 255, 255, 1);
}
.dashboard-content{  
   background-color: rgba(255, 255, 255, 1);
}
nav{ 
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 4rem;
  background-color: rgba(255, 255, 255, 1);
}
.nav-bar{
  width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}
.logo-2{
  margin: 1rem;
  width: 30%;
}
.fa-solid{
  color: black;
  font-size: 1rem;
}
.search-input{
  opacity: 50%;
  width: 300px;
}
.users{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.user{
  display: flex;
  flex-direction: column;
}
.user-1{
  width: 7%;
}
.admin{
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  opacity: 40%;
}
.dashboard-content{
  display: grid;
  grid-template-columns: 15% 85%;
}
.side-bar{
  margin-top: 2rem;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
;
}
.side-bar-lists{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 2.3rem;
}
.side-bar-list{
  display: flex;
  gap: 1rem;
   color: rgba(37, 37, 37, 1);
   opacity: 60%;
}
.side-bar-list-1{
  display: flex;
  gap: 1rem;
  width: 115px;
  border-radius: 20.03px;
  background-color:  rgba(232, 240, 254, 1);;
  border: 1px solid rgba(232, 240, 254, 1);
  color: rgba(5, 53, 130, 1);
}
.vector{
  width: 13%;
}
.main-content{
  display: flex;
  flex-direction: column;
    background-color: rgba(229, 239, 244, 1);
}
.main-content h2{
  margin: .8rem 1rem;
  color: rgba(23, 23, 37, 1);

}
 .content{
  display: flex;
  flex-direction: row; 
  gap: 2rem;
  padding: 25px 45px;
}
.main-side{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.side{
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  width: 200px;
  height: 90px;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-header{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.card{
  width: 200px ;
  height: 200px;
}
.widget{
  width: 500px;
  height: 200px;
}
.main-footer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer-1{
  width: 300px;
  height: 190px;
}
.footer-2{
  width: 400px;
  height: 190px;
}
/* dashboard styles end */